<!DOCTYPE <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>admin iReporter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    </head>
    <body>
       <div class="flex">
            <h1>iReporter</h1>
            <heder>
                <div class="top">
                    <a href="index.html">home</a>
                    <a href="signin.html">logout</a>
                </div>    
            </heder><br><br>
            <h3>Building corruption free systems.</h3>
            <div class="dare">
                    <input type="search" placeholder="search user">  
                    <input type="search" placeholder="search by category"> 
                    <div class="content">
                        <h3>Records</h3>
                        <h2>Red flags</h2>
                        <h4>username</h4>
                        <p>Bekalaze</p>
                        <h4>Title</h4>
                        <p>Government officials taking bribes at Mukono district headquarters.</p>
                        <div>
                            <h4>Geolocation</h4>
                            <p>Lat 1.2178 Long 0.791</p>
                        </div>
                        <p>Status: under investigation</p>
                        <label>
                                select new Status:
                        </label><br><br>
                            <select>
                                <option>resolved</option>
                                <option>reject</option>
                                <option>under investigation</option>
                            </select><br><br>
                        <input type="submit" value="submit">
                        <h2>interventions</h2>
                        <h4>username</h4>
                        <p>Favor</p>
                        <h4>Title</h4>
                        <p>There isn't enough drugs at Mukono Health Centre 4</p>
                        <h4>Geolocation</h4>
                        <p>Lat 0.11229 Long 0.4237</p>
                        <p>Status: resolved</p>
                        <label>
                                select new Status:
                            </label><br><br>
                                <select>
                                    <option>resolved</option>
                                    <option>reject</option>
                                    <option>under investigation</option> 
                                </select><br><br>
                        <input type="submit" value="submit">
                    </div>                            
            </div>
    </body>
</html>    