<!DOCTYPE <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>admin iReporter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="../static/style.css" />
    </head>
    <body>
            <h1>iReporter</h1>
            <heder>
                <div class="top">
                    <a href="index.html">home</a>
                    <a href="signup.html">signup</a>
                </div>    
            </heder>
            <h3>Welcome to admin dashboard!</h3>
            <div class="admin">
                    <div class="main-admin">
                        <p class="header">search iReporter</p>
                        <form>
                            <input  type="text" name="Search" required><br><br>
                            <button type="submit">Search</button><br><br>
                        </form>
                        <table>
                              <tr>
                                <th>Intervention</th>
                                <th>reporter</th>
                                <th>Status</th>
                                <th>Change Status</th>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Nanyonjo Favor</td>
                                <td>draft</td>
                                <td><select>
                                        <option>resolved </option>
                                        <option>under investigation</option>
                                        <option>rejected</option>
                                    </select></td>
                              </tr>
                              <tr>
                                <td>Museveni stol...</td>
                                <td>Bekalaze Joseph</td>
                                <td>under investigation</td>
                                <td><select>
                                        <option>resolved </option>
                                        <option>under investigation</option>
                                        <option>rejected</option>
                                    </select></td>
                              </tr>
                              <tr>
                                <td>Potholes along Jinja Road seeta to Mukono..</td>
                                <td>Nanyonjo Favor</td>
                                <td>resolved</td>
                                <td><select>
                                        <option>resolved </option>
                                        <option>under investigation</option>
                                        <option>rejected</option>
                                    </select></td>
                              </tr>
                        </table>
                        <table>
                            <tr>
                              <th>Red-flag</th>
                              <th>reporter</th>
                              <th>Status</th>
                              <th>Edit Status</th>
                            </tr>
                            <tr>
                              <td>Government officials taking bribes at Mukono district headquarters</td>
                              <td>Bekalaze Joseph</td>
                              <td>resolved</td>
                              <td><select>
                                    <option>resolved </option>
                                    <option>under investigation</option>
                                    <option>rejected</option>
                                </select></td>
                            </tr>
                            <tr>
                              <td>Bribes by police officers.</td>
                              <td>Bekalaze Joseph</td>
                              <td>resolved</td>
                              <td><select>
                                    <option>resolved </option>
                                    <option>under investigation</option>
                                    <option>rejected</option>
                                </select></td>
                            </tr>
                            <tr>
                              <td>Lc 1 stamp stolen...</td>
                              <td>Bekalaze Joseph</td>
                              <td>draft</td>
                              <td><select>
                                    <option>resolved </option>
                                    <option>under investigation</option>
                                    <option>rejected</option>
                                </select></td>
                            </tr>
                      </table>
                    </div>
                    <div class="right">
                        <div class="header-small">select by status</div>
                        <form >
                                <select>
                                        <option>All Incidents </option>
                                        <option>resolved </option>
                                        <option>under investigation</option>
                                        <option>rejected</option>
                                </select><br><br>
                          <button type="submit">Search</button>
                        </form> 
                    </div>
                </div>
                <footer>
                        <h3>Copyright iReporter. All Rights Reserved.</h3>
                </footer>   
    </body>
</html>    