<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>iReporter incident!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    </head>
    <body>
        <div id="flex">
            <h1>iReporter</h1>
            <heder>
                <div class="top">
                    <a href="index.html">signout</a>
                    <a href="records.html">records</a>
                </div>   
            </heder>
            <h3>For  corruption free systems.</h3>
            <div id="main">
                <form>
                        <label>Select iReporter:</label><br>
                        <select>
                            <option>red-flag </option>
                            <option>intervention</option>
                        </select>
                        <input type="text" placeholder="Title"><br><br>
                        <label>
                            Details
                        </label><br><br>
                        <label>
                            Add image/video:
                            </label><br>
                            <input class="choose" type="file">
                            <label>
                                Add geolocation:
                            </label><br>
                                <input type="number" placeholder="Lat coordinates">
                                <input type="number" placeholder="Long coordinates"><br>   
                            <button>create record</button>
                </form>
            </div>
        </div>    
    </body>
</html>