<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>iReporter incident!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    </head>
    <body>
        <div class="flex">
            <h1>iReporter</h1>
            <heder>
                <div class="top">
                    <a href="index.html">signout</a>
                    <a href="records.html">records</a>
                </div>   
            </heder><br><br>
            <h3>Building corruption free systems.</h3>
            <div class="dare">
                <form>
                        <label>Select iReporter:</label><br><br>
                        <select>
                            <option>red-flag </option>
                            <option>intervention</option>
                        </select>
                        <label>
                           <h2> Details</h2>
                        </label>
                        <label>
                            Title:
                        </label><br>
                            <input type="text" placeholder="Title" required>
                            <label>
                                    Username:
                                </label><br>
                                    <input type="text" placeholder="username" required>
                            <label>
                                    Add image/video:
                                </label><br>
                                    <input class="choose" type="file" required>    
                            <label>
                                Add geolocation:
                            </label><br>
                                <input type="number" placeholder="Lat coordinates" required>
                                <input type="number" placeholder="Long coordinates" required><br>   
                            <button>create iReporter</button>
                </form>
            </div>
        </div>    
    </body>
</html>