<!DOCTYPE <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>iReporter!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    </head>
    <body>
        <div id="alpha">
                <h1>iReporter</h1>
                <aside>
                    <img src="">
                </aside>
            <header>
                <div class="top">
                    <a href="signup.html">signup</a>
                    <a href="signin.html">signin</a>
                </div>
            </header><br><br>
            <h3>Building corruption free systems.</h3>
            <div id="low">
                <i>iReporter</i> enables any/every citizen to bring any form of corruption to the notice of appropriate  authorities and the general  public.
                <i>Users</i> can also report on things that need government intervention.
            </div>
            <footer>
                    <h2>"our voices can save the system,<br>our country, our responsibility
                    <br>silence kills our beloved nation!"</h2>
            </footer>
        </div>  
    </body>
</html>