<!DOCTYPE <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>iReporter!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    </head>
    <body>
        <div id="alpha">
                <h1>iReporter</h1>
                <aside>
                    <img src="">
                </aside>
            <header>
                <div class="top">
                    <a href="signup.html">signup</a>
                    <a href="signin.html">signin</a>
                </div>
            </header><br><br>
            <h3>Building corruption free systems.</h3>
            <div id="low">
                <p><i>iReporter</i> enables any/every citizen to bring any form of <b>corruption</b> to<br> the notice of appropriate authorities and the general  public.<br></p><p><i>Users</i> can also report on things that need <b>government intervention</b>.</p>
            </div>
            <footer>
                    <h2>When you speak out, you save the system.</h2>
            </footer>
            <div id="down">
                <a href="#">AboutUs</a>
                <a href="#">contact</a>
            </div>
        </div>  
    </body>
</html>