<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>
<body>
    <div class="flex">
            <h1>iReporter</h1>
            <div class="top">
                    <a href="index.html">signout</a>
                    <a href="incident.html">report</a>
                    <a href="records.html">records</a>
             </div><br><br>
             <h3>Building corruption free systems.</h3>
             <div class="dare">
                    <input type="search" placeholder="search user">
                    <img src="">
                    <div>
                        <p>Name: Bekalaze</p>
                        <p>Location: Mukono</p>
                        <p>Email: bekeplar@gmail.com</p>
                        <p>contact: +256772787777</p>
                </div>
                <div class="records">
                        <h2>My iReporter Status</h2>
                        <table>
                            <tr>
                                <th>iReporter</th>
                                <th>Under invesigation</th>
                                <th>Resolved</th>
                                <th>Rejected</th>
                            </tr>
                            <tr>
                                <td>Red flag</td>
                                <td>5</td>
                                <td>4</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Intervention</td>
                                <td>3</td>
                                <td>0</td>
                                <td>5</td>
                            </tr>
                        </table>
                    </div>
                    <div class="dropdown1">
                            <p>Red flag</p>
                            <p>Government officials taking bribes at Mukono district headquarters.</p>
                            <div>
                                <p>Geolocation</p>
                                <p>Lat 1.2178 Long 0.791</p>
                            </div>
                            <p>Status: under investigation</p>
                    </div>
                    <div class="dropdown1">
                            <p>intervention</p>
                            <p>There isn't enough drugs at Mukono Health Centre 4</p>
                                <p>Geolocation</p>
                                <p>Lat 0.11229 Long 0.4237</p>
                            
                            <p>Status: resolved</p>
                    </div>
                    </div>
    </div>
</body>
</html>