<!DOCTYPE <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>View iReports</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    </head>
    <body>
       <div class="flex">
            <h1>iReporter</h1>
            <heder>
                <div class="top">
                    <a href="index.html">home</a>
                    <a href="signin.html">signout</a>
                    <a href="incident.html">report</a>
                    <a href="profile.html">profile</a>
                </div>   
            </heder><br><br>
            <h3>Building corruption free systems.</h3>
            <div class="dare">
                    <h3>my iReports</h3>
                        <select>
                            <option>red-flag </option>
                            <option>intervention</option>
                        </select>
                    <input type="search" placeholder="search by type">
                    <h3>Redflags</h3>
                    <div class="dropdown1">
                        <span>createdBy: bekeplar</span>
                        <div class="dropdown_content1">
                            <p>incident-type: Red flag</p>
                            <p>incident-id: 1</p>
                            <p>title: corruption</p>
                            <p>Description: Government officials taking bribes at Mukono district headquarters.</p>
                            <p>Geolocation: Lat 1.2178 Long 0.791</p>
                            <p>Status: under investigation</p><br><br>
                            <p>incident-type: Red flag</p>
                            <p>incident-id: 3</p>
                            <p>title: corruption</p>
                            <p>Description: Traffic officers takingb bribes along seeta mukono Highway headquarters.</p>
                            <p>Geolocation: Lat 0.2178 Long 0.71</p>
                            <p>Status: resolved</p><br><br>
                            <h3>Interventions</h3>
                        </div>
                        <span>createdBy: bekeplar</span>
                            <p>incident-type: intervention</p>
                            <p>incident-id: 2</p>
                            <p>title: Insufficient-Drugs</p>
                            <p>Description: There isn't enough drugs at Mukono Health Centre 4</p>
                            <p>Geolocation: Lat 0.11229 Long 0.4237</p>
                            <p>Status: draft</p>
                    </div>
                    <button type="submit">Edit</button>
             </div>
       </div> 
    </body>
</html>